.match-container {
    width: 100%;
    height: 100px;
    background-color: #B31C2C;
    color: #fff;
    /* margin-bottom: 100vh; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .match {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .match h1 {
    font-size: 26px;
  }

  .match h1 b {
    font-size: 26px;
    color: #000;
  }
  
  @media screen and (max-width: 960px) {
    .match-container {
      height: 250px;
      width: 100%;
    }
  
    .match > h1 {
      text-align: center;
      font-size: 25px;
    }
  }